@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --textPrimary: #d0d0d0;
  --textSecondary: #808080;
  --background: #242424;
  --cardBackground: #292929;
  --detailGray: #808080;
  --detailDarkGray: #333333;
  --detailBlack: #111111;
  --detailPrimary: #4285f4;
  --detailPrimary10: #4285f410;
  --detailPrimary40: #4285f440;
  --detailPrimary50: #4285f450;
  --detailPrimary60: #4285f460;
  --detailPrimary80: #4285f480;
}

@layer components {
  .heroButton {
    @apply px-6 py-2 border border-background rounded-full uppercase text-xs tracking-widest text-textSecondary transition-all hover:border-detailPrimary60 hover:text-detailPrimary80;
  }

  .contactInput {
    @apply outline-none bg-slate-400/10 rounded-sm border-b px-4 py-3 sm:px-6 sm:py-4 border-background text-textPrimary placeholder-textSecondary transition-all focus:border-detailPrimary40 focus:text-detailPrimary80 hover:border-detailPrimary40;
  }

  ::-webkit-scrollbar {
    @apply w-2 h-2;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-detailPrimary80 rounded-3xl;
  }
}
