@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --textPrimary: #f0f0f0;
  --textSecondary: #808080;
  --background: #242424;
  --cardBackground: #292929;
  --detailGray: #808080;
  --detailDarkGray: #333333;
  --detailBlack: #111111;
  --detailYellow: #f7ab0a;
}

@layer components {
  .heroButton {
    @apply px-6 py-2 border border-background rounded-full uppercase text-xs tracking-widest text-textSecondary transition-all hover:border-[#f7ab0a]/40 hover:text-[#f7ab0a]/40;
  }

  .contactInput {
    @apply outline-none bg-slate-400/10 rounded-sm border-b px-6 py-4 border-background text-textSecondary placeholder-textSecondary transition-all focus:border-[#F7AB0A]/40 focus:text-[#F7AB0A]/40 hover:border-[#F7AB0A]/40;
  }

  ::-webkit-scrollbar {
    @apply w-2 h-2;
  }

  ::-webkit-scrollbar-track {
    @apply bg-gray-400/20;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-[#F7AB0A]/80 rounded-3xl;
  }
}
